.navdiv
{
    height: 100px;
    background-color: rgb(6, 6, 46);
    opacity: 1;
    display: flex;
}

.navInnerdivs
{
    /* border: 2px solid white; */
    width: 25%;
    height: 100px;   
    color: white; 
    text-align: center;
}

#navresponsiveIcons{
    display: none;
}

.navh1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerlogo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#companyNameHeading{
    margin: 0;
    font-size: 35px;
    padding: 5px 10px;
}

#navlinksdiv{
    width: 50%;
}

#lists{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 43px;
    font-size: 25px;
    list-style: none;
}

.listsnav{
    text-decoration: none;
    color: white;
}

#MakeAppointment{
    margin-top: 33px;
    font-size: 17px;
    text-align: center;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 11px;
    border: none;
    border-radius: 5px;
}

#MakeAppointment:hover{
    background-color: rgb(202, 49, 49);
}

.auditheadingdiv{
    text-align: center;
    font-size: 40px;
}

.auditmainpradivs{
    font-size: 20px;
    margin: 40px 0px;
    margin-left: 1%;
}

.auditinnerpradiv{
    font-weight: bolder;
}


.footerdiv{
    background-color: rgb(2, 2, 43);
    height: 444px;
}

#footerlogo{
    width: 33px;
    height: 33px;
    border-radius: 37px;
    position: relative;
    top: 133px;
    left: 140px;
}

#heading6{
    color: white;
    font-size: 21px;
    position: relative;
    position: absolute;
    left: 190px;
    margin-top: 100px;
}

.iconsdiv{
    color: white;
    padding: 27px;
    position: relative;
    top: 155px;
    left: 140px;
    display: flex;
    gap: 25px;
}

#heading7{
    color: white;
    font-size: 40px;
    position: relative;
    position: absolute;
    left: 560px;
    margin-top: 0px;
    font-weight: lighter;
}

.listfooter{

    color: white;
    font-size: 22px;
    position: relative;
    position: absolute;
    left: 545px;
    margin-top: 66px;
    list-style: none;

}

#footerpra1, #footerpra2, #footerpra3, #footerpra4{
    color: white;
    font-size: 17px;
    position: relative;
    position: absolute;
    left: 920px;
    
}

#footerpra1{
    margin-top: 50px;
    font-size: larger;
}

#footerpra2{
    margin-top: 80px;
    font-size: larger;
}

#footerpra3{
    margin-top: 110px;
    font-size: larger;
}

#footerpra4{
    position: relative;
    left: 400px;
    top: 240px;
    font-size: 25px;
}