.navdiv
{
    height: 100px;
    background-color: rgb(6, 6, 46);
    opacity: 1;
    display: flex;
}

.navInnerdivs
{
    /* border: 2px solid white; */
    width: 25%;
    height: 100px;   
    color: white; 
    text-align: center;
}

#navresponsiveIcons{
    display: none;
}

.navh1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerlogo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#companyNameHeading{
    margin: 0;
    font-size: 35px;
    padding: 5px 10px;
}

#navlinksdiv{
    width: 50%;
}

#lists{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 43px;
    font-size: 25px;
    list-style: none;
}

.listsnav{
    text-decoration: none;
    color: white;
}


#MakeAppointment{
    margin-top: 33px;
    font-size: 17px;
    text-align: center;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 11px;
    border: none;
    border-radius: 5px;
}

#MakeAppointment:hover{
    background-color: rgb(202, 49, 49);
}

#home:hover, #contact:hover, #services:hover, #industries:hover{
    border-bottom: 2px solid white;
}

.b3{
    font-size: 17px;
    border-radius: 41px;
    margin-top: 15px;
    width: 15%;
    padding: 17px;
    cursor: pointer;
    color: white;
    border: none;
}

.b3{
    background-color: rgb(60, 194, 60);
    padding: 10px;
    position: fixed;
    bottom: 10px;
    font-size: 20px;
    width: 17%;
    right: 12px;
    z-index: 1;
    
}

.b3:hover{
    background-color: rgb(12, 233, 12);
}



.contactstartdiv {
    margin: 0;
    padding: 0;
    width: 1345px;
    height: 630px;
    background-color: white;
    display: flex;               
    flex-direction: column;  
    align-items: center;         
    justify-content: center;     
}

#contactheading {
    font-size: 55px;
}

.contactinnerdiv {
    width: 830px;
    height: 460px;
    background-color: white;
    /* border: 2px solid black; */
    box-shadow: 0 4px 8px black;
    
}

.contactouterdiv{

    animation: transform 2s ease-in-out;

}

@keyframes transform{

    from{
        transform: translateY(-610px);
    }

    to{
        transform: translateY(0px);
    }

}

#namepra, #emailpra, #commentormessagepra{
    font-size: 25px;
    margin-left: 20px;
}

#namepra{
    position: relative;
    top: 10px;
}


.contactinputs{
    text-align: center;
}

#firstnameinput, #lastnameinput, #emailinput, #commentinput{
    width: 45%;
    height: 35px;
    font-size: 23px;
    margin: 2%;
}

#firstnameinput, #lastnameinput{
    margin: 0px;
    margin: 1%;
}       

#emailinput{
    width: 94%;
    margin: 0px;
}

#commentinput{
    width: 94%;
    margin: 0px;
    height: 65px;
}

.submitdiv{
    margin: 2%;
}

#submitbutton{
    font-size: 20px;
    background-color: rgb(66, 66, 212);
    border: none;
    color: white;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    left: 4px;
}

#submitbutton:hover{
    background-color: rgb(38, 38, 179);
}

.footer {
    width: 100%;
    background-color: rgb(2, 2, 43);
    padding: 40px 20px;
}

.footerdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
    color: white;
}

.footerinnerdiv{
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: 2px solid white; */
}

.footerlogoandheadingdiv{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.f1logodiv {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../images/logoFI.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.footerlogoheading {
    font-size: 30px;
    font-weight: bold;
}

.iconsdiv {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 22px;
}

#heading7 {
    font-size: 33px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.listfooter {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
    text-align: center;
}

.listfooterinnerdiv{
    margin: 5px 0;
    font-weight: lighter; 
    font-size: 18px;
}

#footercontactdiv {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.contactpra{
    font-size: 17px;
    font-weight: lighter;
}

.footercopyright {
    text-align: center;
    font-size: 17px;
    font-weight: lighter;
    margin-top: 20px;
}

.saminamediv{
    text-align: center;
    position: relative;
    bottom: 35px;
    font-weight: bold;
    font-size: larger;
    color: rgb(116, 186, 248);
}


@media (max-width: 600px){


    .navdiv{
        position: relative;
    }

    #navresponsiveIcons{
        display: block;
        width: 25px;
        margin: 2%;
    }

    #closeMenu{
        display: none;
    }

    #navfirstdiv{
        height: 55px;
        position: absolute;
        bottom: 15%;  
        width: 100%;
        margin: 1%;
        /* border: 2px solid white; */
        display: flex;
        justify-content: start;
        align-items: start;
    }

    #headerlogo{
        width: 37px;
        height: 37px;
    }

    #companyNameHeading{
        font-size: 20px;
    }

    #navlinksdiv{
        display: none;
    }

    #appointmentBtnDiv{
        text-align: right;
        position: absolute;
        width: 55%;
        right: 20%;
    }

    #MakeAppointment{
        font-size: small;
        padding: 7.5px;
        position: relative;
        bottom: 22px;
        left: 20px;
    }

    .contactstartdiv {
    margin: 0;
    padding: 0;
    width: 337px;
    /* height: 680px; */
    background-color: white;          
}

#contactheading {
    font-size: 20px;
    /* margin-right: 50px; */
}

.contactinnerdiv {
    width: 320px;
    /* height: min-content; */
    background-color: white;
    /* border: 2px solid black; */
    box-shadow: 0 4px 8px black;
    
}

.contactouterdiv{

    animation: transform 2s ease-in-out;

}

@keyframes transform{

    from{
        transform: translateY(-610px);
    }

    to{
        transform: translateY(0px);
    }

}

#namepra, #emailpra, #commentormessagepra{
    font-size: 15px;
    margin-left: 10px;
}

#namepra{
    position: relative;
    top: 10px;
}


.contactinputs{
    text-align: center;
}

#firstnameinput, #lastnameinput, #emailinput, #commentinput{
    width: 30%;
    height: 20px;
    font-size: 15px;
    margin: 2%;
}

#firstnameinput, #lastnameinput{
    width: 42%;
}       

#emailinput{
    width: 92%;
    margin: 0px;
}

#commentinput{
    width: 92%;
    margin: 0px;
    height: 65px;
}

.submitdiv{
    margin: 2%;
}

#submitbutton{
    font-size: 20px;
    background-color: rgb(66, 66, 212);
    border: none;
    color: white;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    left: 4px;
    top: 10px;
}

#submitbutton:hover{
    background-color: rgb(38, 38, 179);
}

.footer {
    width: 100%;
    background-color: rgb(2, 2, 43);
    padding: 40px 20px;
}

.footerdiv {
    margin: 0 auto;
    /* width: 100%; */
    gap: 40px;
    color: white;
}

.footerinnerdiv{
    gap: 15px;
}

.footerlogoandheadingdiv{
    gap: 10px;
    /* border: 2px solid white; */
    position: relative;
    left: 20px;
}

.footerlogoheading {
    font-size: 30px;
    font-weight: bold;
}

.iconsdiv {
   /* border: 2px solid white; */
   position: relative;
   left: 25px;
    gap: 20px;
    font-size: 22px;
}

#heading7 {
    font-size: 33px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
    right: 32px;
    bottom: 10px;
}

.listfooter {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
    text-align: center;
    position: relative;
    bottom: 20px;
    right: 35px;
}

.footercopyright{
    position: relative;
    top: 130px;
    right: 20px;
}

.saminamediv{
    position: relative;
    top: 100px;
    right: 10px;
}

#footercontactdiv {
    position: relative;
    bottom: 200px;
    left: 35px;
    font-size: 10px;

}

.contactpra{
    font-size: 15px;
    font-weight: lighter;
    line-height: 5px;
}

.footercopyright {
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    margin-top: 20px;
    margin-right: 100px;
    position: relative;
    left: 12px;
}

.saminamediv{
    text-align: center;
    position: relative;
    right: 35px;
    bottom: 35px;
    font-weight: bold;
    font-size: larger;
    color: rgb(116, 186, 248);
}



}









