
.navdiv
{
    height: 100px;
    background-color: rgb(6, 6, 46);
    opacity: 1;
    display: flex;
}

.navInnerdivs
{
    /* border: 2px solid white; */
    width: 25%;
    height: 100px;   
    color: white; 
    text-align: center;
}

#navresponsiveIcons{
    display: none;
}

.navh1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerlogo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#companyNameHeading{
    margin: 0;
    font-size: 35px;
    padding: 5px 10px;
}

#navlinksdiv{
    width: 50%;
}

#lists{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 43px;
    font-size: 25px;
    list-style: none;
}

.listsnav{
    text-decoration: none;
    color: white;
}

#MakeAppointment{
    margin-top: 33px;
    font-size: 17px;
    text-align: center;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 11px;
    border: none;
    border-radius: 5px;
}

#MakeAppointment:hover{
    background-color: rgb(202, 49, 49);
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* -------hero section styling here-------- */
/* ---------------------------------------- */
/* ---------------------------------------- */


.heroDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    background-color: rgba(32, 16, 47, 0.9);
}

@keyframes abc {
    0% {
        transform: translateY(-270px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero{
    height: auto;
    width: fit-content;
    /* opacity: .5; */
    margin: 0%;
    color: white;
    text-align: center;
    animation: abc 1s ease-out;
}

.heroh1{
    font-size: 65px;
}

.herop1{
    font-size: 25px;
    margin-top: 17px;
}

.herop2{
    font-size: 21px;
    margin-top:55px;
}
 
.b1, .b2,.b3{
    font-size: 17px;
    border-radius: 41px;
    margin-top: 15px;
    width: 15%;
    padding: 17px;
    cursor: pointer;
    color: white;
    border: none;
}

.b1{
    background-color:rgb(195, 50, 50);
    margin-right: 15px;
}


.b2{
    background-color: white;
    color: black;
}

.b1:hover, .b2:hover{
    background-color: red;
}

.b2:hover{
    color: white;
}


#home:hover, #contact:hover, #services:hover, #industries:hover{
    border-bottom: 2px solid white;
}

.b3{
    background-color: rgb(60, 194, 60);
    padding: 10px;
    position: fixed;
    bottom: 10px;
    font-size: 20px;
    width: 17%;
    right: 12px;
    z-index: 1;
    
}

.b3:hover{
    background-color: rgb(12, 233, 12);
}



.industriesfirstpradiv{
    font-size: 20px;
    padding: 10px;
    color: rgb(94, 84, 84);
}

.industriessecondpradiv{
    /* border: 2px solid black; */
    font-size: 20px;
    padding: 15px;
    color: rgb(94, 84, 84);
}

.industriesthirdpradiv{
    padding: 15px;
    font-size: 20px;
    color: rgb(94, 84, 84);
}

.industriesforthpradiv{
    font-size: 20px;
    padding: 10px;
    color: rgb(94, 84, 84);
}

.footerdiv{
    background-color: rgb(2, 2, 43);
    height: 444px;
    /* margin-top: 100px; */
}

#footerlogo{
    width: 33px;
    height: 33px;
    border-radius: 37px;
    position: relative;
    top: 133px;
    left: 140px;
}

#heading6{
    color: white;
    font-size: 21px;
    position: relative;
    position: absolute;
    left: 190px;
    margin-top: 100px;
}

.iconsdiv{
    color: white;
    padding: 27px;
    position: relative;
    top: 155px;
    left: 140px;
    display: flex;
    gap: 25px;
}

#heading7{
    color: white;
    font-size: 40px;
    position: relative;
    position: absolute;
    left: 560px;
    margin-top: 0px;
    font-weight: lighter;
}

.listfooter{

    color: white;
    font-size: 22px;
    position: relative;
    position: absolute;
    left: 545px;
    margin-top: 66px;
    list-style: none;

}

#footerpra1, #footerpra2, #footerpra3, #footerpra4{
    color: white;
    font-size: 17px;
    position: relative;
    position: absolute;
    left: 920px;
    
}

#footerpra1{
    margin-top: 50px;
    font-size: larger;
}

#footerpra2{
    margin-top: 80px;
    font-size: larger;
}

#footerpra3{
    margin-top: 110px;
    font-size: larger;
}

#footerpra4{
    position: relative;
    left: 400px;
    top: 240px;
    font-size: 25px;
}





