/* ---------------------------------------- */
/* ---------------------------------------- */
/* ----------navbar styling here----------- */
/* ---------------------------------------- */
/* ---------------------------------------- */



.navdiv
{
    height: 100px;
    background-color: rgb(6, 6, 46);
    opacity: 1;
    display: flex;
}

.navInnerdivs
{
    /* border: 2px solid white; */
    width: 25%;
    height: 100px;   
    color: white; 
    text-align: center;
}

#navresponsiveIcons{
    display: none;
}

.navh1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerlogo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#companyNameHeading{
    margin: 0;
    font-size: 35px;
    padding: 5px 10px;
}

#navlinksdiv{
    width: 50%;
}

#lists{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 43px;
    font-size: 25px;
    list-style: none;
}

.listsnav{
    text-decoration: none;
    color: white;
}

#MakeAppointment{
    margin-top: 33px;
    font-size: 17px;
    text-align: center;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 11px;
    border: none;
    border-radius: 5px;
}

#MakeAppointment:hover{
    background-color: rgb(202, 49, 49);
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* -------hero section styling here-------- */
/* ---------------------------------------- */
/* ---------------------------------------- */


.heroDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    background-color: rgba(32, 16, 47, 0.9);
}

@keyframes abc {
    0% {
        transform: translateY(-270px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero{
    height: auto;
    width: fit-content;
    /* opacity: .5; */
    margin: 0%;
    color: white;
    text-align: center;
    animation: abc 1s ease-out;
}

.heroh1{
    font-size: 65px;
}

.herop1{
    font-size: 25px;
    margin-top: 17px;
}

.herop2{
    font-size: 21px;
    margin-top:55px;
}
 
.b1, .b2,.b3{
    font-size: 17px;
    border-radius: 41px;
    margin-top: 15px;
    width: 15%;
    padding: 17px;
    cursor: pointer;
    color: white;
    border: none;
}

.b1{
    background-color:rgb(195, 50, 50);
    margin-right: 15px;
}


.b2{
    background-color: white;
    color: black;
}

.b1:hover, .b2:hover{
    background-color: red;
}

.b2:hover{
    color: white;
}


#home:hover, #contact:hover, #services:hover, #industries:hover{
    border-bottom: 2px solid white;
}

.b3{
    background-color: rgb(60, 194, 60);
    padding: 10px;
    position: fixed;
    bottom: 10px;
    font-size: 20px;
    width: 17%;
    right: 12px;
    z-index: 1;
    
}

.b3:hover{
    background-color: rgb(12, 233, 12);
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ------services section styling here----- */
/* ---------------------------------------- */
/* ---------------------------------------- */

#servicesfirstheading{
    font-size: 35px;
    text-align: center;
    padding: 10px;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------financial reporting div-------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

.financialreportingdiv{
    width: 1330px;
    height: 800px;
    background-color: rgba(20, 41, 63, 0.726);
    display: flex;

}

.financialreportingimage{
    width: 600px;
    height: 550px;
    margin-top: 2%;
    margin-left: 2%;
    background-image: url(../images/financialReporting.jpg);
    background-size: 480px;
}

.financialreportingheadingdiv{
    margin-left: 60px;
}

#financialreportingheading{
    font-size: 50px;
    color: white;
}

.preparationdiv, .accuratediv, .regulatorydiv, .budgetingdiv, .Consolidationdiv, .managementdiv{
    color: white;
    font-size: 20px;
}

#preparationpra1, #accuratepra1, #regulatorypra1, #budgetpra1, #consolidationpra1, #managementpra1{
    font-weight: bolder;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------audit div -------------- */
/* ------------------------------------ */
/* ------------------------------------ */

.Auditdiv{
    width: 1330px;
    height: 700px;
    display: flex;
    
}

.auditimagediv{
    width: 480px;
    height: 550px;
    margin-top: 2%;
    margin-left: 2%;
    background-image: url(../images/pexels-leeloothefirst-8970297.jpg);
    background-size: 480px;
}

.auditheadingdiv{
    margin-left: 65px;
}

#auditheading{
    font-size: 50px;
}

.financialstatementdiv, .internalauditdiv, .regulatorycompliancediv, .forensicauditdiv, .performancediv, .frauddetectiondiv{
    font-size: 20px;
}

#financialstatementpra1, #internalauditpra1, #regulatorycompliancepra1, #forensicauditpra1, #performancepra1, #frauddetectionpra1{
    font-weight: bolder;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* -------------tax div---------------- */
/* ------------------------------------ */
/* ------------------------------------ */


.taxdiv{
    width: 1330px;
    height: 740px;
    background-color: rgba(20, 41, 63, 0.726);
    display: flex;
}

.taximagediv{
    width: 480px;
    height: 550px;
    margin-top: 2%;
    margin-left: 2%;
    background-image: url(../images/pexels-n-voitkevich-6863336.jpg);
    background-size: 480px;
}

.taxheadingdiv{
    margin-left: 60px;
}

#taxheading{
    color: white;
    font-size: 50px;
}

.corporatetaxdiv, .internationaltaxdiv, .indirecttaxdiv, .taxreturndiv, .transfertaxdiv, .taxauditdiv{
    font-size: 20px;
    color: white;
}


#corporatetaxpra1, #internationaltaxpra1, #indirecttaxpra1, #taxreturnpra1, #transfertaxpra1, #taxauditpra1{
    font-weight: bolder;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------advisory div------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.advisorydiv{
    width: 1330px;
    height: 700px;
    display: flex;
}

.advisoryimagediv{
    width: 615px;
    height: 550px;
    margin-top: 2%;
    margin-left: 2%;
    background-image: url(../images/pexels-shkrabaanthony-5816299.jpg);
    background-size: 480px;
}

.advisoryheadingdiv{
    margin-left: 60px;
}

#advisoryheading{
    font-size: 50px;
}

.financialrestructuringdiv, .investmenttadvisorydiv, .financialreportingadvisorydiv, .internalcontrolsdiv, .financialanalysisdiv{
    font-size: 20px;
}

#financialrestructuringpra1, #investmenttadvisorypra1, #financialreportingadvisorypra1, #internalcontrolspra1, #financialanalysispra1{
    font-weight: bolder;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ---------book keeping div----------- */
/* ------------------------------------ */
/* ------------------------------------ */

.bookkeepingdiv{
    width: 1330px;
    height: 750px;
    background-color: rgba(20, 41, 63, 0.726);
    display: flex;
}

.bookkeepingimagediv{
    width: 570px;
    height: 550px;
    background-image: url(../images/pexels-cottonbro-4107100.jpg);
    background-size: 480px;
    margin-top: 2%;
    margin-left: 2%;
}

.bookkeepingheadingdiv{
    margin-left: 60px;
}

#bookkeepingheading{
    font-size: 50px;
    color: white;
}
.accuratebookdiv, .preparationbookdiv, .accountbookdiv, .bankbookdiv, .financialanalysisbookdiv, .payrollbookdiv{
    color: white;
    font-size: 20px;
}

#accuratebookpra1, #preparationbookpra1, #accountbookpra1, #bankbookpra1, #financialanalysisbookpra1, #payrollbookpra1{
    font-weight: bolder;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* -------integrated solution div------ */
/* ------------------------------------ */
/* ------------------------------------ */


.integratedsolutiondiv{
    width: 1330px;
    height: 1020px;
    display: flex;
}

.integratedsolutionimagediv{
    width: 730px;
    height: 600px;
    background-image: url(../images/integrated\ solution.jpg);
    background-size: cover;
    margin-top: 2%;
    margin-left: 2%;
}

.integratedsolutionheadingdiv{
    margin-left: 60px   ;
}

#integratedsolutionheading{
    font-size: 50px;
}

.financialintegrateddiv, .auditoryintegrateddiv, .taxintegrateddiv, .riskintegrateddiv, .bussinessintegrateddiv, .bookintegrateddiv, .regulatoryintegrateddiv{
    font-size: 21px;
}

#financialintegratedpra1, #auditoryintegratedpra1, #taxintegratedpra1, #riskintegratedpra1, #bussinessintegratedpra1, #bookintegratedpra1, #regulatoryintegratedpra1{
    font-weight: bolder;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* read more button div for all services*/
/* ------------------------------------ */
/* ------------------------------------ */


#readmorebutton{
    font-size: 18px;
    background-color: rgb(236, 38, 38);
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
}

#readmorebutton:hover{
    background-color: red;
}


/* ------------------------------------ */
/* ------------------------------------ */
/* ---------expert guidance div-------- */
/* ------------------------------------ */
/* ------------------------------------ */


.expertguidancediv{
    background-color: rgba(20, 41, 63, 0.726);  
    display: flex;
}

.expertheadingdiv{
    margin-left: 2%;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    width: 30%;
}

.expertheading{
    width: 100%;
}

.expertpradiv{
    font-size: 20px;
}

#expertpra{
    font-weight: lighter;
}

.expertimageupperdiv{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    row-gap: 20px;
    margin-top: 3.5%;
}

.expertimg{
    background-color: aquamarine;
    width: 200px;
    height: 150px;
}

#expertimg1{
    background-image: url(../images/quickbooks.webp);
    background-size: cover;
    object-fit: cover;
}

#expertimg2{
    background-image: url(../images/sage.webp);
    background-size: 219px;
    /* object-fit: cover; */
}

#expertimg3{
    background-image: url(../images/xero.jpg);
    background-size: cover;
}

#expertimg4{
    background-image: url(../images/zoho.webp);
    background-size: cover;
}

#expertimg5{
    background-image: url(../images/odoo.webp);
    background-size: 190px;
}

#expertimg6{
    background-image: url(../images/oracle.jpg);
    background-size: cover;
}

#expertimg7{
    background-image: url(../images/office365.jpg);
    background-size: 210px;
}

#expertimg8{
    background-image: url(../images/sap.webp);
    background-size: 210px;
}


/* ------------------------------------------ */
/* ------------------------------------------ */
/* -----------------help div----------------- */
/* ------------------------------------------ */
/* ------------------------------------------ */

.helpdiv{
    width: 1330px;
    margin-top: 100px;
    background-color: rgb(252, 249, 249);
}

.helpheadingdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#helpheading{
    font-size: 60px;
    font-weight: bolder;
    /* margin: 0%; */
}

.helppradiv{
    font-size: 25px;
    font-weight: lighter;
    width: 50%;
    margin-left: 7%;
    height: 0%;
    margin-bottom: 150px;
}

.reachoutdiv{
    text-align: center;
    position: relative;
    bottom: 80px;
    right: 260px;
}

#reachoutbutton{
    margin-top: 100px;
    font-size: 20px;
    background-color: rgb(235, 38, 38);
    color: white;
    border: none;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;

}

#reachoutbutton:hover{
    background-color: red;
}

/* ------------------------------------------ */
/* ------------------------------------------ */
/* ---------------footer div------------------ */
/* ------------------------------------------ */
/* ------------------------------------------ */

.footer {
    width: 100%;
    background-color: rgb(2, 2, 43);
    padding: 40px 20px;
}

.footerdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
    color: white;
}

.footerinnerdiv{
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: 2px solid white; */
}

.footerlogoandheadingdiv{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.f1logodiv {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../images/logoFI.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.footerlogoheading {
    font-size: 30px;
    font-weight: bold;
}

.iconsdiv {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 22px;
}

#heading7 {
    font-size: 33px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.listfooter {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
    text-align: center;
}

.listfooterinnerdiv{
    margin: 5px 0;
    font-weight: lighter; 
    font-size: 18px;
}

#footercontactdiv {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.contactpra{
    font-size: 17px;
    font-weight: lighter;
}

.footercopyright {
    text-align: center;
    font-size: 17px;
    font-weight: lighter;
    margin-top: 20px;
}

.saminamediv{
    text-align: center;
    position: relative;
    bottom: 35px;
    font-weight: bold;
    font-size: larger;
    color: rgb(116, 186, 248);
}

@media (max-width: 600px){


    .navdiv{
        position: relative;
    }

    #navresponsiveIcons{
        display: block;
        width: 25px;
        margin: 2%;
    }

    #closeMenu{
        display: none;
    }

    #navfirstdiv{
        height: 55px;
        position: absolute;
        bottom: 15%;  
        width: 100%;
        margin: 1%;
        /* border: 2px solid white; */
        display: flex;
        justify-content: start;
        align-items: start;
    }

    #headerlogo{
        width: 37px;
        height: 37px;
    }

    #companyNameHeading{
        font-size: 20px;
    }

    #navlinksdiv{
        display: none;
    }

    #appointmentBtnDiv{
        text-align: right;
        position: absolute;
        width: 55%;
        right: 20%;
    }

    #MakeAppointment{
        font-size: small;
        padding: 7.5px;
        position: relative;
        bottom: 22px;
        left: 20px;
    }

    #servicesfirstheading{
    font-size: 17px;
    position: relative;
    right: 26px;
    /* text-align: center; */
    padding: 30px;
}

.financialreportingdiv{
    width: 360px;
    /* height: 800px; */
    background-color: rgba(20, 41, 63, 0.726);
    /* display: flex; */

}

.financialreportingimage{
    margin-top: 2%;
    margin-left: 2%;
    background-image: url(../images/financialReporting.jpg);
    background-size: 480px;
}

.financialreportingheadingdiv{
    margin-left: 60px;
}

#financialreportingheading{
    font-size: 50px;
    color: white;
}

.preparationdiv, .accuratediv, .regulatorydiv, .budgetingdiv, .Consolidationdiv, .managementdiv{
    color: white;
    font-size: 20px;
}

#preparationpra1, #accuratepra1, #regulatorypra1, #budgetpra1, #consolidationpra1, #managementpra1{
    font-weight: bolder;
}





}