body{
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* -------------------------- Navbar --------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */

.responsiveNavdiv{
    transform: translateX(-110%);
    /* background-color: rgb(0, 51, 141, .5); */
    background-color: white;
    backdrop-filter: blur(50px);
    position: fixed;
    top: auto;
    width: 50%;
    z-index: 1112;
    border-radius: 5px;
}

.closeIcon{
    color: rgb(0, 51, 141);
    font-size: 25px;
    padding: 5%;
}

#navresponsiveIcons{
    display: none;
}

#resplists{
    font-size: 15px;
    list-style: none;
    line-height: 50px;
}

.listitemsResp{
    margin: 5%;
    /* text-align: center; */
    /* border-bottom: 2px solid white; */
    /* background-color: rgb(0, 51, 141); */
}

/* ------------------------------------------------------------------------- */

.navdiv
{
    background-color: white;
    color: rgb(0, 51, 141);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    /* border-bottom: 2px solid black; */
    /* box-shadow: 0 2px 2px 2px 5px rgba(1, 16, 43, 0.75); */
    height: fit-content;
}

.navInnerdivs
{
    width: 25%;
    text-align: center;
    padding: 0%;
    margin: 0%;
}

.navh1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 2%;
}

#headerlogo{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    /* display: none; */
}

#companyNameHeading{
    font-size: 25px;
    padding: 5px;
}

#navlinksdiv{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0%;
    margin: 0%;

}

#lists{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    list-style: none;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.listsnav, .listsrespnav{
    text-decoration: none;
    color: rgb(0, 51, 141);
}

.listsnav:hover{
    text-decoration: underline;
    /* border-bottom: 2px solid rgb(0, 51, 141); */
}

/* --------------------------- Services Dropdown -------------------------------- */

#servicesNavItem{
    /* border: 2px solid white; */
    position: relative;
}

#servicesNavItem:hover{
    /* border: 2px solid white; */
    /* position: relative; */
    border-bottom: none;
}

#servicesDropDownDiv{
    position: absolute;

    top: 200%;
    width: 200px;
    left: -50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0);
    /* box-shadow: ; */
    /* border: 1px solid rgb(1, 1, 98); */

    background-color: rgb(255, 255, 255, 1);

    border-radius: 4px;
    transform: translateY(20px);
    /* opacity: 0; */

    display: none;

    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 2;
}

.serviceslistsnav{
      color: rgb(0, 51, 141);
      display: block;
      padding: 5%;
      text-decoration: none;
      /* margin-left: 0%; */
      font-size: large;
}

#servicesDropDownDiv .serviceslistsnav:hover {
      background-color: rgb(8, 37, 88);
      color: white;

}

/* Show dropdown on hover */
#servicesNavItem:hover #servicesDropDownDiv {
      transform: translateY(0px);
      opacity: 1;
      /* visibility: visible; */
      /* pointer-events: auto; */
      display: block;
}

/* --------------------------- Industries Dropdown -------------------------------- */

#industriesNavItem{
    /* border: 2px solid white; */
    position: relative;
}

#industriesDropDownDiv{
    position: absolute;

    top: 200%;
    width: 200px;
    left: -50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0);
    /* box-shadow: ; */
    /* border: 1px solid rgb(1, 1, 98); */

    background-color: rgb(255, 255, 255, 1);

    border-radius: 4px;
    transform: translateY(20px);
    /* opacity: 0; */

    display: none;

    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 2;
}

.industrieslistsnav{
      color: rgb(0, 51, 141);
      display: block;
      padding: 5%;
      text-decoration: none;
      /* margin-left: 0%; */
      font-size: large;
}

#industriesDropDownDiv .industrieslistsnav:hover {
      background-color: rgb(8, 37, 88);
      color: white;

}

/* Show dropdown on hover */
#industriesNavItem:hover #industriesDropDownDiv {
      transform: translateY(0px);
      /* opacity: 1; */
      display: block;
}

#appointmentBtnDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

#MakeAppointment{
    font-size: 15px;
    text-align: center;
    background-color: rgb(0, 51, 141);
    color: white;
    cursor: pointer;
    padding: 11px;
    border: none;
    border-radius: 5px;
}

#MakeAppointment:hover{
    background-color: rgb(1, 30, 79);
}

/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* -------------------------- Alert ---------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */


.alertOuterDiv{
    position: absolute;
    transform: translateX(340%);
    display: none;
}

.appointmentBookAlertDiv{
    background-color: green;
    color: white;
    font-size: larger;
    width: 350px;
    padding: 2%;
    border-radius: 7.5px;
    /* transform: translateX(500px); */
}

/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ---------------- Appointment Form and Image ----------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */

.outerdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /* background-color: rgb(0, 51, 141); */
    background-color: white;
    color: rgb(0, 51, 141);
}

.appointmentouter{
    border-radius: 5px;
    box-shadow: 5px 5px 20px 10px rgba(216, 216, 216, 0.5);
    border: 1px solid rgb(0, 51, 141);
    padding: 2%;
    margin: 2%;
    width: 40%;
    /* color: white; */
}

/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ---------------------- Appointment Form --------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */

.heading{
    text-align: center;
    /* padding: 2.5px; */
    font-size: 35px;
}

.formfieldsDiv{
    padding: 2%;
    display: flex;
}

.labelDiv{
    width: 25%;
    display: flex;
    align-items: center;
}

.inputDiv{
    width: 100%;
}

.inputstyling{
    /* background-color: rgba(45, 6, 82, 0.9); */
    border: 2px solid rgb(222, 217, 217, .5);

}

.inputstyling, .labelstyling{
    width: 75%;
    border-radius: 2px;
    cursor: pointer;
    font-size: 20px;
    /* color: white; */
    padding: 2%;
}

.labelstyling{
    background-color: none;
}

.appointmentbtn{
    font-size: 20px;
    color: white;
    background-color:rgb(214, 21, 21);
    padding: 2%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width: 100%;
}

.appointmentbtn:hover{
    background-color: rgb(255, 0, 0);
}

#appointbtn{
    margin: 2%;
}

/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* --------------------- Appointment Image --------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */

.imageCalender{
    color: white;
    font-style: italic;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center;
}


/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* -------------------------- Footer Section ------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */

.footer{
    background-color: rgb(0, 51, 141);
    padding: 40px;
}

.footerdiv {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-between;
    color: white;
    /* border: 2px solid white; */
}

.footerinnerdiv{
    display: flex;
    flex-direction: column;
}

.footerlogoandheadingdiv{
    display: flex;
    gap: 10px;
    /* border: 2px solid white; */
    /* align-items: center; */
    /* justify-content: center; */
}

.f1logodiv {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../images/logoFI.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.footerlogoheading {
    font-size: 30px;
    font-weight: bold;
    margin: 0%;
    display: flex;
    align-items: center;
}

.iconsdiv {
    display: flex;
    /* justify-content: ; */
    font-size: 22px;
}

.iconsdiv i{
    margin: 5%;
    cursor: pointer;
}

.iconsdiv i:hover{
    color: rgb(241, 241, 241 , .75);
    transform: translateY(-15%);
    transition: all .1s;
}

#heading7 {
    font-size: 33px;
    text-align: center;
    font-weight: bold;
    margin: 0%;
}

.listfooter {
    list-style: none;
    text-align: center;
    /* width: fit-content; */
    /* border: 2px solid white; */
    padding: 0%;

}

.listfooterinnerdiv{
    margin: 10px;
    font-weight: lighter; 
    font-size: 17.5px;
    /* margin: 0%; */
}

.footerLinksPages{
    /* text-decoration: none; */
    color: white;
}

.footerLinksPages:hover{
    color: rgb(232, 232, 232, .75);
}

#footercontactdiv {
    display: flex;
    flex-direction: column;
    /* border: 2px solid white; */
    justify-content: right;
    align-items: end;
    /* border: 2px solid white; */

}

#footerpra2{
    cursor: pointer;
}

.contactpra{
    font-size: 17.5px;
    margin: 2%;
    color: white;
    width: 55%;
}

.footercopyright {
    text-align: center;
    font-size: 17px;
    font-weight: lighter;
}


/* ################################################################### */
/* ################################################################### */
/* ################################################################### */
/* ################################################################### */
/* ################################################################### */
/* ###################### Responsiveness ############################# */
/* ################################################################### */
/* ################################################################### */
/* ################################################################### */
/* ################################################################### */
/* ################################################################### */


@media (max-width: 600px){

/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ---------------------- Nav And Hero Section ----------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */

    #navresponsiveIcons{
        display: block;
        height: fit-content;
        width: 10%;
        font-size: 33px;
        text-align: end;
    }

    #navfirstdiv{
        width: 50%;
        height: fit-content;
    }

    #appointmentBtnDiv{
        width: 40%;
        height: fit-content;

    }

    #headerlogo{
        width: 37px;
        height: 37px;
    }

    #companyNameHeading{
        font-size: large;
    }

    #navlinksdiv{
        display: none;
    }

    #MakeAppointment{
        font-size: small;
    }
 
    
    
    /* ------------------------------------------------------------------- */
    /* ------------------------------------------------------------------- */
    /* ------------------------------------------------------------------- */
    /* ------------------------------------------------------------------- */
    /* ---------------------- Appointment Form --------------------------- */
    /* ------------------------------------------------------------------- */
    /* ------------------------------------------------------------------- */
    /* ------------------------------------------------------------------- */
    /* ------------------------------------------------------------------- */
    
    .outerdiv{
        justify-content: center;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        /* height: auto; */
        /* background-color: rgb(0, 51, 141); */
        /* background-color: white; */
        /* color: rgb(0, 51, 141); */
    }

    .appointmentouter{
        /* border-radius: 5px; */
        /* box-shadow: 5px 5px 20px 10px rgba(216, 216, 216, 0.5); */
        /* border: 1px solid rgb(0, 51, 141); */
        padding: 2%;
        margin: 2%;
        width: 75%;
        /* color: white; */
    }

    .heading{
        padding: 2px;
        font-size: 20px;
    }

    .formfieldsDiv{
        padding: 2%;
        display: flex;
    }

    .labelDiv{
        width: 25%;
        display: block;
        align-items: center;
    }

    .inputDiv{
        width: 100%;
    }

    .inputstyling{
        /* background-color: rgba(45, 6, 82, 0.9); */
        border: 2px solid rgb(222, 217, 217, .5);
    }

    .inputstyling, .labelstyling{
        /* width: 75%; */
        font-size: 15px;
        padding: 2%;
    }

    .appointmentbtn{
        font-size: 15px;
    }

    .appointmentbtn:hover{
        background-color: rgb(255, 0, 0);
    }

    #appointbtn{
        margin: 2%;
    }


    .imageCalender{
        display: none;
    }

    /* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* -------------------------- Footer Section ------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */

    .footerdiv {
        display: block;
    }

    .footerlogoheading {
        font-size: 25px;
    }

    .iconsdiv {
        font-size: 12.5px;
        justify-content: center;
        margin: 5%;
    }

    #heading7 {
        font-size: 20px;
        text-align: center;
    }

    .listfooterinnerdiv{
        font-size: 15px;
        /* border-bottom: 1px solid white; */
        /* width: fit-content; */
    }

    #footercontactdiv {
        font-size: 10px;
        align-items: center;
        text-align: center;
    }

    .contactpra{
        font-size: 12.5px;
        font-weight: lighter;
        line-height: 5px;
    }

    .footercopyright {
        text-align: center;
        font-size: 15px;
        font-weight: lighter;
        display: none;
    }
}