body{
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* -------------------------- Navbar --------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */

.responsiveNavdiv{
    transform: translateX(-110%);
    background-color: rgb(0, 51, 141, .5);
    backdrop-filter: blur(50px);
    position: fixed;
    top: auto;
    width: 80%;
    z-index: 1112;
}

.navRespInnerdivs{
    
}

.closeIcon{
    color: white;
    font-size: 35px;
    padding: 5%;
}

#navresponsiveIcons{
    display: none;
}

#navlinksrespdiv{
}

#resplists{
    font-size: 25px;
    list-style: none;
    line-height: 50px;
}

.listitemsResp{
    margin: 5%;
    text-align: center;
    border-bottom: 2px solid white;
    background-color: rgb(0, 51, 141);
}

/* ------------------------------------------------------------------------- */

.navdiv
{
    background-color: rgb(0, 51, 141);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    /* border-bottom: 2px solid rgb(3, 21, 54); */
    box-shadow: 0 5px 5px rgba(1, 16, 43, 0.75);

}

.navInnerdivs
{
    width: 25%;
    color: white; 
    text-align: center;
}

.navh1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerlogo{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

#companyNameHeading{
    font-size: 25px;
    padding: 5px;
}

#navlinksdiv{
    width: 50%;
    display: flex;
    align-items: center;
    /* border: 2px solid white; */
}

#lists{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid white; */
    align-items: center;
    font-size: 20px;
    list-style: none;
    width: 100%;
}

.listsnav, .listsrespnav{
    text-decoration: none;
    color: white;
}

.listsnav:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
}

#appointmentBtnDiv{
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#MakeAppointment{
    font-size: 15px;
    text-align: center;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 11px;
    border: none;
    border-radius: 5px;
}

#MakeAppointment:hover{
    background-color: rgb(202, 49, 49);
}


/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* -------------------------- WhatsApp ------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */

.b3{
    font-size: 17px;
    border-radius: 41px;
    margin-top: 15px;
    width: 15%;
    padding: 17px;
    cursor: pointer;
    color: white;
    border: none;
    background-color: rgb(60, 194, 60);
    padding: 10px;
    position: fixed;
    bottom: 10px;
    font-size: 20px;
    width: 17%;
    right: 12px;
    z-index: 1;
    
}

.b3:hover{
    background-color: rgb(12, 233, 12);
}

.whatsappDiv{
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 111;
}

.whatsAppContactPersonDiv{
    display: none;
    box-shadow: 0px 2px 2px 5px  rgb(208, 205, 205, .5);
    margin: 2%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(89, 8, 133);
    /* width: 300px; */
}

.whatsAppCrossDiv{
    color: white;
    text-align: right;
    margin: 5%;
    font-size: 25px;
    font-weight: bolder;
}

.whatsAppCrossBtn{
    cursor: pointer;
}

.nameandlogo{
    /* border: 2px solid black; */
    background-color: rgb(51, 1, 78);
    color: white;
    display: flex;
    margin: 5%;
    padding: 5%;
    border-radius: 5px;
    cursor: pointer;
}

.nameandlogo:hover{
    background-color: rgb(35, 1, 53);
}

#online{
    background-color: rgb(52, 155, 52);
    border-radius: 5px;
    width: 100px;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.fields{
    margin: 5%;
}

.userProfile{
    background-image: url('../images/userProfileIcon.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#logo{
    /* background-color: blue; */
    border-radius: 100%;
    height: 90px;
    width: 175px;
    border: 2px solid black;
}

.texts{
    margin: 5%;
    justify-content: space-evenly;
    font-size: 20px;
}

.contactstartdiv {
    margin: 0;
    padding: 0;
    width: 1345px;
    height: 630px;
    background-color: white;
    display: flex;               
    flex-direction: column;  
    align-items: center;         
    justify-content: center;     
}

#contactheading {
    font-size: 55px;
}

.contactinnerdiv {
    width: 830px;
    height: 460px;
    background-color: white;
    /* border: 2px solid black; */
    box-shadow: 0 4px 8px black;
    
}

.contactouterdiv{

    animation: transform 2s ease-in-out;

}

@keyframes transform{

    from{
        transform: translateY(-610px);
    }

    to{
        transform: translateY(0px);
    }

}

#namepra, #emailpra, #commentormessagepra{
    font-size: 25px;
    margin-left: 20px;
}

#namepra{
    position: relative;
    top: 10px;
}


.contactinputs{
    text-align: center;
}

#firstnameinput, #lastnameinput, #emailinput, #commentinput{
    width: 45%;
    height: 35px;
    font-size: 23px;
    margin: 2%;
}

#firstnameinput, #lastnameinput{
    margin: 0px;
    margin: 1%;
}       

#emailinput{
    width: 94%;
    margin: 0px;
}

#commentinput{
    width: 94%;
    margin: 0px;
    height: 65px;
}

.submitdiv{
    margin: 2%;
}

#submitbutton{
    font-size: 20px;
    background-color: rgb(66, 66, 212);
    border: none;
    color: white;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    left: 4px;
}

#submitbutton:hover{
    background-color: rgb(38, 38, 179);
}

.footer {
    width: 100%;
    background-color: rgb(2, 2, 43);
    padding: 40px 20px;
}

.footerdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
    color: white;
}

.footerinnerdiv{
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: 2px solid white; */
}

.footerlogoandheadingdiv{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.f1logodiv {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../images/logoFI.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.footerlogoheading {
    font-size: 30px;
    font-weight: bold;
}

.iconsdiv {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 22px;
}

#heading7 {
    font-size: 33px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.listfooter {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
    text-align: center;
}

.listfooterinnerdiv{
    margin: 5px 0;
    font-weight: lighter; 
    font-size: 18px;
}

#footercontactdiv {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.contactpra{
    font-size: 17px;
    font-weight: lighter;
}

.footercopyright {
    text-align: center;
    font-size: 17px;
    font-weight: lighter;
    margin-top: 20px;
}

.saminamediv{
    text-align: center;
    position: relative;
    bottom: 35px;
    font-weight: bold;
    font-size: larger;
    color: rgb(116, 186, 248);
}


/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* -------------------------- Footer Section ------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */

.footer {
    background-color: rgb(2, 2, 43);
    padding: 40px;
}

.footerdiv {
    display: flex;
    justify-content: space-between;
    color: white;
}

.footerinnerdiv{
    display: flex;
    flex-direction: column;
}

.footerlogoandheadingdiv{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.f1logodiv {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../images/logoFI.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.footerlogoheading {
    font-size: 30px;
    font-weight: bold;
}

.iconsdiv {
    display: flex;
    justify-content: space-evenly;
    font-size: 22px;
}

#heading7 {
    font-size: 33px;
    text-align: center;
    font-weight: bold;
}

.listfooter {
    list-style: none;
    padding: 0;
    text-align: center;
}

.listfooterinnerdiv{
    margin: 10px;
    font-weight: lighter; 
    font-size: 22px;
}

#footercontactdiv {
    display: flex;
    flex-direction: column;
}

.contactpra{
    font-size: 22px;
    margin: 2%;
}

.footercopyright {
    text-align: center;
    font-size: 17px;
    font-weight: lighter;
}


@media (max-width: 600px){
   
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* --------------------------- Nav Section --------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */

    #navresponsiveIcons{
        display: block;
        height: fit-content;
        width: 10%;
        font-size: 33px;
        text-align: end;
    }

    #navfirstdiv{
        width: 50%;
        height: fit-content;
    }

    #appointmentBtnDiv{
        width: 40%;
        height: fit-content;

    }

    #headerlogo{
        width: 37px;
        height: 37px;
    }

    #companyNameHeading{
        font-size: large;
    }

    #navlinksdiv{
        display: none;
    }

    #MakeAppointment{
        font-size: small;
    }


 
    /* ------------------------------------------------------------------- */
    /* ------------------------------------------------------------------- */
    /* ------------------------------------------------------------------- */
    /* ------------------------------------------------------------------- */
    /* --------------------------- WhatsApp Section ---------------------- */
    /* ------------------------------------------------------------------- */
    /* ------------------------------------------------------------------- */
    /* ------------------------------------------------------------------- */
    /* ------------------------------------------------------------------- */

    .whatsAppContactPersonDiv{
        border-radius: 5px;
    }

    .whatsAppCrossDiv{
        margin: 5%;
        font-size: 15px;
        font-weight: bold;
    }

    .nameandlogo{
        display: flex;
        margin: 5%;
        padding: 5%;
    }

    #logo{
        border-radius: 100%;
        height: 50px;
        width: 95px;
    }

    .texts{
        margin: 5%;
        justify-content: space-evenly;
        font-size: 10px;
    }

    #online{
        width: max-content;
        padding: 5px;
    }

    .fields{
        margin: 5%;
    }

    .b3{
        background-color: rgb(60, 194, 60);
        padding: 5px;
        font-size: 10px;
        width: 175px;

    }

    #icon{
        padding: 2%;
    }



    .contactstartdiv {
    margin: 0;
    padding: 0;
    width: 337px;
    /* height: 680px; */
    background-color: white;          
}

#contactheading {
    font-size: 20px;
    /* margin-right: 50px; */
}

.contactinnerdiv {
    width: 320px;
    /* height: min-content; */
    background-color: white;
    /* border: 2px solid black; */
    box-shadow: 0 4px 8px black;
    
}

.contactouterdiv{

    animation: transform 2s ease-in-out;

}

@keyframes transform{

    from{
        transform: translateY(-610px);
    }

    to{
        transform: translateY(0px);
    }

}

#namepra, #emailpra, #commentormessagepra{
    font-size: 15px;
    margin-left: 10px;
}

#namepra{
    position: relative;
    top: 10px;
}


.contactinputs{
    text-align: center;
}

#firstnameinput, #lastnameinput, #emailinput, #commentinput{
    width: 30%;
    height: 20px;
    font-size: 15px;
    margin: 2%;
}

#firstnameinput, #lastnameinput{
    width: 42%;
}       

#emailinput{
    width: 92%;
    margin: 0px;
}

#commentinput{
    width: 92%;
    margin: 0px;
    height: 65px;
}

.submitdiv{
    margin: 2%;
}

#submitbutton{
    font-size: 20px;
    background-color: rgb(66, 66, 212);
    border: none;
    color: white;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    left: 4px;
    top: 10px;
}

#submitbutton:hover{
    background-color: rgb(38, 38, 179);
}


    /* ------------------------------------------------------------------- */
    /* ------------------------------------------------------------------- */
    /* ------------------------------------------------------------------- */
    /* ------------------------------------------------------------------- */
    /* -------------------------- Footer Section ------------------------- */
    /* ------------------------------------------------------------------- */
    /* ------------------------------------------------------------------- */
    /* ------------------------------------------------------------------- */
    /* ------------------------------------------------------------------- */

    .footerdiv {
        display: block;
    }

    .footerlogoheading {
        font-size: 25px;
    }

    .iconsdiv {
        font-size: 15px;
        margin: 5%;
    }

    #heading7 {
        font-size: 20px;
        text-align: left;
    }

    .listfooterinnerdiv{
        font-size: 15px;
        border-bottom: 1px solid white;
        width: fit-content;
    }

    #footercontactdiv {
        font-size: 10px;
    }

    .contactpra{
        font-size: 15px;
        font-weight: lighter;
        line-height: 5px;
    }

    .footercopyright {
        text-align: center;
        font-size: 15px;
        font-weight: lighter;
    }



}